.menu {
    display: flex;
    gap: 20px;
    list-style: none;
}
.menu a {
    text-decoration: none;
}

h1 {
    font-family: "Special Elite", Arial, Helvetica, sans-serif;
}

img {
    border: 1px solid;
    border-collapse: collapse;
    border-radius: 25px;
}