body {
    font-family:Arial, Helvetica, sans-serif;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
}
.menu a {
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 0 20px;
    margin-top: 5px;
    position: absolute;
    width: 100%;
    background-color: black;
    color: white;
}

h1 {
    font-family: "Special Elite", Arial, Helvetica, sans-serif;
}

img {
    border: 1px solid;
    border-collapse: collapse;
    border-radius: 10px;
}

.banner {
    display: block;
    margin: 25px auto;
    width: 80%;
}