body {
    font-family: Arial,'Courier New', Courier, monospace;
}

h1 {
    font-family: "Special Elite", Arial, Helvetica, sans-serif;
}

.primer {
    display: inline-block;
    width: 130px;
}

textarea {
    width: 400px;
    height: 75px;
}

::placeholder {
    font-family: monospace;
}

button {
    background-color: #d2691e;
    border: 2px solid;
    margin-top: 15px;
    padding: 15px;
}